/* 
#FEE60E : yellow
#faf2a8 : light yellow
#FFAD42 : light orange
#69995D : light green
#0D1821 : rich black
#344966 : indiego dye
#F5F5F5 : white smoke
*/
/* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> */
* {
    font-family: "Montserrat", sans-serif;
}
#totalContainer {
    background-color: #344966;
}

#orderButton {
    padding: 1rem;
    margin: 1rem;
}

#orderButton, #orderButton a {
    border: none;
    color: #344966;
    border-radius: 8%;
    background-color: #faf2a8;
}

#orderButton:hover, #orderButton:hover *{
    border: none;
    color: #FFAD42;
    border-radius: 8%;
    background-color: #0D1821;
}